/*
Font: 		Amberes Grotesk
Style: 		Bold Italic
URL: 		https://www.youworkforthem.com/font/T13904/amberes-grotesk
Foundry: 	Olivier Segers
Foundry: 	https://www.youworkforthem.com/designer/1518/olivier-segers
Copyright:	
Version: 	17
Created:	March 31, 2021
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'AmberesGroteskBoldItalic';
	src: url('amberes-grotesk-bold-italic.eot');
	src: url('amberes-grotesk-bold-italic.eot?#iefix') format('embedded-opentype'),
             url('amberes-grotesk-bold-italic.woff2') format('woff2'),
	     url('amberes-grotesk-bold-italic.woff') format('woff'),
	     url('amberes-grotesk-bold-italic.ttf') format('truetype'),
	     url('amberes-grotesk-bold-italic.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
