/*
Font: 		Amberes Grotesk
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T13904/amberes-grotesk
Foundry: 	Olivier Segers
Foundry: 	https://www.youworkforthem.com/designer/1518/olivier-segers
Copyright:	
Version: 	17
Created:	March 31, 2021
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'AmberesGroteskRegular';
	src: url('amberes-grotesk.eot');
	src: url('amberes-grotesk.eot?#iefix') format('embedded-opentype'),
             url('amberes-grotesk.woff2') format('woff2'),
	     url('amberes-grotesk.woff') format('woff'),
	     url('amberes-grotesk.ttf') format('truetype'),
	     url('amberes-grotesk.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
